/***
MAIN STYLESHEET
style.css
****/

/* GENERAL */

body {
    color: #333;
}


/* TYPE */

body {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: Lora, serif;
}




.section-title {
    font-variant: small-caps;
    font-size: 2.25em;
}

h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h2 { 
    font-size: 2.25em;
 }

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

p {
    line-height: 1.6;
}

.section-lead {
    font-style: italic;
    font-size: 1.25em;
}

/*HEADERS */
#site-header {
    background: #333;
    color: whitesmoke;
}

.site-title {
    font-family: Sacramento, sans-serif; /* Avoiding ugly script fonts as defualt*/
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    font-size: 2.75em;
    display: block;
    padding: 10px 0;
}

.site-tagline {
    display: block;
    font-family: Lora, serif;
    font-size: 1rem;
    font-style: italic;
}

/* HEROS */

.hero-home {
    background-image: url('../img/assets/km_butterflygarden1280.png');  /*need to recrop images */
}
  

@media screen and (min-height: 600px ) {
    .hero { 
        background-repeat: repeat;
        border-top: solid 1px #333;
        position: relative;
        min-height: 15vh;
        background-size: 60%;  /*changes size in relation to screen width*/
    }
}


@media screen and (min-width: 600px) {
    .hero {
        min-height: 30vh;
    }
}


.hero-image-text {
    width: 100%;
    padding: 6px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    background: whitesmoke;
    border-bottom: solid 1px #333;
    font-size: 0.8em;
}


/*FOOTERS */

.page-footer {
    background: #555;
    color: whitesmoke;
    height: 40px;
}

.copyright {
    font-size: 0.75em;
    margin: 0;
}