/***
Tabs
***/

/* Set height of body and the document to 100% to enable "full page tabs" */


body {
    min-height: 100vh;
    margin: 0;
}

/* Style tab links */

#site-nav {
    height: 60px;
}
.tablink {
    background-color: whitesmoke;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-family: Lora, serif;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 26px;
    width: 25%;
}


@media screen and (max-width: 600px) {
    .tablink {
        width: 50%;
    }
}
.tablink:hover {
    background-color: #555;
    color: whitesmoke;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    padding: 0;
    min-height: calc(100vh - 6em - 60px - 40px);/* 100vh #site-header - nav - #site-footer*/
}

#Home {background-color: lightcyan;}
#Bio {background-color: whitesmoke;}
#Work {background-color: lightcyan;}
#Contact {background-color: whitesmoke;}