/***
Tabs
***/

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100vh;
    margin: 0;
}

/* Style tab links */
.tablink {
    background-color: whitesmoke;
    color: black;
     float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-family: Lora, serif;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 26px;
    width: 25%;
}

.tablink:hover {
    background-color: #555;
    color: whitesmoke;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home {background-color: lemonchiffon;}
#Bio {background-color: mistyrose;}
#Work {background-color: lavenderblush;}
#Contact {background-color: lightcyan;}